<section class="hero set-bg" style=" 
background-image:url('assets/inicio.jpg');
">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 ">
    <div class="hero__text">
    <h2>Encontre o melhor pagamento mensal</h2>
    <p>Solicite nosso empréstimo comercial em minutos, sem complicações e rápido!</p>
    <a href="#" class="primary-btn">Quem é nós</a>
    <a href="#" class="primary-btn howit-btn">Comos trabalhamos</a>
    </div>
    </div>
    <div class="col-lg-4 offset-lg-2">
    <div class="hero__form">
    <h3>De quantos voccê precisa?</h3>
    <form action="#">
    <div class="input-list">
    <div class="input-list-item">
    <p>Qual o valor ($):</p>
    <input type="text">
    </div>
    <div class="input-list-item">
    <p>Quantos meses:</p>
    <input type="text">
    </div>
    </div>
    <div class="input-full-width">
    <p>Email:</p>
    <input type="text">
    </div>
    <div class="input-list last">
    <div class="input-list-item">
    <p>Nome:</p>
    <input type="text">
     </div>
    <div class="input-list-item">
    <p>Telefone:</p>
    <input type="text">
    </div>
    </div>
    <button type="submit" class="site-btn">Me enviar proposta!</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>