<section class="about spad">
    <div class="container">
    <div class="about__content">
    <div class="row">
    <div class="col-lg-5">
    <div class="about__img">
    <img src="assets/aboutspad.jpg" alt="">
    <a href="https://www.youtube.com/watch?v=RpvAmG1NNN0" class="play-btn video-popup"><img src="assets/video-play.png" alt=""></a>
    </div>
    </div>
    <div class="col-lg-6 offset-lg-1">
    <div class="about__text">
    <h2>Bem vindo a Brazil Valle.</h2>
    <h4>Somos a financeira que vai te dar aquele 'up' na vida</h4>
    <p class="first_para">
        Onde uma presença poderosa na web se tornou um ingrediente vital de sua marca </p>
    <p class="last_para">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.</p>
    <a href="#" class="primary-btn">Contact Us</a>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-4">
    <div class="about__item">
    <h4>Nossa Visão</h4>
    <p>O mundo moderno está em movimento contínuo e as pessoas em todos os lugares estão procurando por soluções
        meios seguros de acessar informações precisas. A informação imediata é vital para pessoas que</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-4">
    <div class="about__item">
    <h4>Nossa Missão</h4>
    <p>O mundo moderno está em movimento contínuo e as pessoas em todos os lugares estão procurando por soluções
        meios seguros de acessar informações precisas. A informação imediata é vital para pessoas que</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-4">
    <div class="about__item">
    <h4>Nosso Valor</h4>
    <p>O mundo moderno está em movimento contínuo e as pessoas em todos os lugares estão procurando por soluções
        meios seguros de acessar informações precisas. A informação imediata é vital para pessoas que</p>
    </div>
    </div>
    </div>
    </div>
    </section>